body{
    background-color: hwb(157 7% 42%);
    font-family: 'Courier New', Courier, monospace;
    color: #f0f0f0;
    font-size: 15px;
    display: grid;
    align-content: center;
    justify-content: center
}
h1{
    text-align:center
}

#board {
    border-color: black;
    border: 10px solid;
    background-color: #000;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    width: 100px;
    margin: auto;
    border: none;
}

.tile-clicked {
    background: darkgray;
    
}

.x1 {
    color: red;
}

.x2 {
    color: orange;
}

.x3 {
    color: pink;
}

.x4 {
    color: violet;
}

.x5 {
    color: green;
}

.x6 {
    color: gold;
}

.x7 {
    color: skyblue;
}

.x8 {
    color: firebrick;
}

